/*!
 * JCU Web Framework v1.0.0-beta.1 (https://web.jcu.io)
 * Copyright 2016 James Cook University.
 */

// Core variables, customise core theme
@import "jcu/variables";

// Extend basic theme
@import "bootstrap";

//
// Bootstrap-dependant variables
//
// Master height calculations for fixed elements (Toolbar, Explorer)
// Note that inconsistency in browser rounding may add/remove pixels
$border-width-rem: ($border-width / $font-size-root) * 1rem;
$c-select-padding-y: .375rem;
$jcu-toolbar-height: (($c-select-padding-y * 2) + ($jcu-toolbar-font-size * $line-height));
$jcu-toolbar-height-sm: (($navbar-padding-y * 2) + ($jcu-toolbar-font-size * $jcu-toolbar-line-height-sm));
// Toggler height plus bottom border width
$jcu-explorer-height-sm: (((.5rem + $border-width-rem) * 2 + $jcu-icon-font-size-lg * $line-height) + $border-width-rem);

// Core CSS and layout
@import "jcu/layout";
@import "jcu/typography";
@import "jcu/themes";

// Generic components
@import "jcu/dropdowns";
@import "jcu/navs";
@import "jcu/navbar";
@import "jcu/modal";
@import "jcu/accordion";
@import "jcu/overlay";
@import "jcu/card";
@import "jcu/utility";

// Parts of pages
@import "jcu/campus-stack";
@import "jcu/header";
@import "jcu/exposition";
@import "jcu/toolbar";
@import "jcu/explorer";
@import "jcu/section-navigator";
@import "jcu/content";
@import "jcu/footer";
@import "jcu/colophon";

//
// Third party components
//

// Relative to final CSS file
$OpenSansPath: "../font/open-sans";
@import "components/open-sans-fontface/open-sans.scss";
@import "components/yamm3/yamm/_yamm.scss";
@import "components/webhostinghub-glyphs/css/webhostinghub-glyphs.css";
