//
// Cards: blocks of information; optionally interactive tiles
//
.card-header {
  color: $jcu-card-cap-color;
}

.jcu-overlay-card {
  min-height: $jcu-card-overlay-min-height;

  .jcu-overlay {
    position: absolute;
    top: auto;
    width: 100%;
    max-height: 60%;
    overflow: hidden;
    color: $jcu-card-overlay-font-color;
  }

  .card-title {
    margin-bottom: 0;
  }

  .card-subtitle {
    font-size: $font-size-sm;
  }

  &:not(.jcu-overlay-card--fixed) {
    .card-subtitle {
      display: none;
    }

    @include hover {
      .jcu-overlay {
        height: 100%;
        max-height: 100%;
        transition: max-height $jcu-fade-transition-speed;
      }

      .card-title {
        padding-bottom: ($spacer / 4);
        margin-bottom: $card-spacer-y;
        border-bottom: $card-border-width solid $jcu-card-overlay-font-color;
      }

      .card-subtitle {
        display: block;
      }
    }
  }
}

